*{
    margin: 0;
    padding: 0;
}
.content {
    width:240px;
    margin:100px auto;
    
}
.img img {
    width:100%;
    vertical-align: bottom;
}
.test{
    margin:13px 18px 0px;
}
.test h1{
    font:  18px open sans;
    color: #acaaaa;
    margin-bottom: 13px;
}
.test h2 , .test p {
    color: #d3d2d2;
    font: 14px open sans;
    margin-left: 13px;
}
.test p{
    margin-top: 24px;
    margin-bottom: 21px;
    line-height: 21px;
}
.last{
    border-top: 1px solid #e9e9e9;
}
.last ul{
    margin-left: 16px;
    list-style: none;
}
.last li{
    float: left;
}
.last i{
    float: right;
}
.clearfix::after,.clearfix:before{
    content:"";
    display: table;
    clear: both;
}