* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.tabeba {
  width: 100%;
  height: 48px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  padding-left: 10px;
  height: 12px;
  width: 16px;
}
.left li {
  width: 16px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transform-origin: left center;
  transition: all 0.08s;
  list-style: none;
}
.left :nth-child(1) {
  top: 18px;
}
.left :nth-child(2) {
  top: 24px;
}
.left :nth-child(3) {
  top: 30px;
}
.user {
  padding-right: 10px;
}
.start li:nth-child(1) {
  transform: rotateZ(40deg);
}
.start li:nth-child(2) {
  opacity: 0;
}
.start li:nth-child(3) {
  transform: rotateZ(-40deg);
}
.left .main {
  width: 0;
  background-color: black;
  left: 0;
  top: 48px;
  position: absolute;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}
.left .open {
  width: 100%;
  height: 100%;
}
.main .list {
  width: 80%;
  margin: 0 auto;
  border-bottom: 0.3px solid #534f4f;
}
.main .list a {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
}
.main .list a:hover {
  color: #b4afaf;
}
.main .list .search {
  margin-right: 20px;
  display: inline;
}
